/*context*/
#context{
	position: relative;
	max-width: 100%;
	margin: auto;
}
#context table{
	border-radius:5px;
	font-family:"微軟正黑體";
	font-size:26px;
	font-weight:bold;
	width:100%;
}
#context th{
	font-size:32px;
}
#context td{
	vertical-align:top;
	padding-left:15px;
	
}
#PIC{
	width:100%;
	border-radius:20px;
}
#context a{
	color:LightSkyBlue;
}
#FB{
	width:45px;
	vertical-align:middle;
}
#actor_list{
	border-radius:5px;
	font-family:"微軟正黑體";
	font-size:26px;
	font-weight:bold;
	width:100%;
}
#actor_list td{
	text-align:center;
	width:20%;
}
#actor_list div{
	width:70px;
	height:70px;
    	background:white;
    	-webkit-clip-path:circle(35px at 50% 50%);
	display:inline-block;
	text-align:center;
}

