a{
	color:LightSkyBlue;
}
#rank{
	position: absolute;
	top:500px;
	width:100%;
}
#rank td{
	border-radius: 5px;
}
table{
	width:100%;
	border-spacing:5px;
}
.video_photo{
	width:70px;
	height:70px;
    background:white;
    -webkit-clip-path:circle(35px at 50% 50%);
	text-align:center;
}
.video_photo img{
	height:100%;
	width:auto;
}
.video_title {
	text-align:center;
	width:16.66%;
	background-color:white;
	color:black;
}
#ratings{
	color:rgb(230, 25, 25);
	font-size:28px;
}
footer{
	bottom:-120%;
	position: absolute;
}