a{
	color:LightSkyBlue;
}
#table{
	width:100%;
}

#table #left button{
	border-radius:5px;
	font-family:"微軟正黑體";
	font-size:18px;
	font-weight:bold;
	width:100%;
}
#table #right button{
	border-radius:5px;
	font-family:"微軟正黑體";
	font-size:18px;
	font-weight:bold;
	width:40%;
}
#left{
	width:20%;
	vertical-align:top;
}
#right{
	width:70%;
	vertical-align:top;
}
#button_area{
	overflow: auto;

}
#circlepic{
	width:70px;
	height:70px;
    	background:white;
    	-webkit-clip-path:circle(35px at 50% 50%);
	text-align:center;
}
footer{
	bottom:-50%;
}