#table{
	width:100%;
}

#table #left button{
	border-radius:5px;
	font-family:"微軟正黑體";
	font-size:18px;
	font-weight:bold;
	width:100%;
}
#table #right button{
	border-radius:5px;
	font-family:"微軟正黑體";
	font-size:18px;
	font-weight:bold;
	width:40%;
}
#left{
	width:20%;
	vertical-align: top;
}
#right{
	width:70%;
	vertical-align: top;
}
div#button_area{
	overflow: auto;

}
div#my_infor{
	overflow: auto;
}