body{
	background-color:black;
	border-radius:8px;
	font-family:"微軟正黑體";
	font-size:20px;
	color:white;
}
#main {
	position: relative;
	max-width: 1080px;
	margin: auto;
	background-color:black;
}
/*header*/
#header table{
	width:100%;
}

#header {
	background-image:url("../PIC/top/bg.png");
}
#logo {
	width:210px;
}
#search  {
	width:510px;
	text-align:center;
}
#search input{
	border-radius:8px;
	font-family:"微軟正黑體";
	font-size:16px;
	font-weight:bold;
	opacity:0.7;
	width:200px;
}
#search img{
	 vertical-align:middle;
}
#memberlogin {
	width:300px;
	text-align:top;
}
#memberlogin input{
	border-radius:8px;
	font-family:"微軟正黑體";
	font-size:16px;
	font-weight:bold;
	opacity:0.7;
}
#memberlogin img{
	 vertical-align:middle;
}
#memberlogin2 {
	width:60px;
}
#memberlogin2 img{
	 vertical-align:middle;
}
/*context*/
#context{
	position: relative;
	max-width: 600px;
	margin: auto;
}
#context input{
	border-radius:5px;
	font-family:"微軟正黑體";
	font-size:16px;
	font-weight:bold;
}